<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .container {
            max-width: 800px!important;
        }
    </style>

    <title>Dashboard</title>
</head>
<body class="h-screen">    
    <header class="fixed top-0 right-0 left-0 z-10 container mx-auto">
        <nav class="bg-white border shadow-xl mx-6 my-4 rounded-lg">
            <div class="flex justify-between h-16 px-5">
                <div class="flex">
                    <a href="#" class="flex items-center text-xl font-bold text-green-600">TSTH2</a>
                </div>
                <div class="hidden md:flex space-x-8 items-center">
                    <a href="/" class="text-gray-700 hover:text-green-700 hover:font-bold">Home</a>

                    <div class="relative inline-block text-left">
                        <!-- Summoner -->
                        <a href="/kentang/count" class="text-gray-700 hover:text-green-700 hover:font-bold inline-flex items-center">
                          Halaman Perhitungan
                        </a>
                                          </div>
        
                    <div class="relative inline-block text-left">
                        <a href="/kentang/history" id="kentang_menu" class="text-gray-700 hover:text-green-700 hover:font-bold inline-flex items-center">
                            Sejarah
                        </a>
                    </div>
                </div>

                <div class="hidden md:flex space-x-8 items-center">
                    <a href="#" id="profile_menu" class="text-gray-700 hover:text-green-700 hover:font-bold text-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                          </svg>    
                    </a>
                    <div id="profile_dropdown" class="absolute hidden bg-white shadow-2xl border-gray-300 border rounded-lg mt-10 w-36 top-9 right-0">
                        <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 hover:font-bold">Settings</a>
                        <a href="/logout" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 hover:font-bold">Logout</a>
                    </div>
                </div> 

            <div class="md:hidden flex items-center">
                <button id="menu-toggle" class="text-gray-700 focus:outline-none">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 6h16M4 12h16M4 18h16" />
                  </svg>
                </button>
            </div>

            <div id="kentang_submenu" class="absolute hidden bg-white shadow-2xl border-gray-300 border rounded-lg mt-10 w-36 top-9 right-0">
                <a href="/settings" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 hover:font-bold">Settings</a>
                <a href="/logout" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 hover:font-bold">Logout</a>
            </div>

        </nav>
        <div id="mobile-menu" class="hidden md:hidden px-4 p-4 mx-6 border border-gray-300 space-y-6 bg-white rounded-lg shadow-2xl">
            <a href="/" class="block text-gray-700 hover:text-green-700">Home</a>

            <a href="/kentang/count" class="block text-gray-700 hover hover:text-green-700">Halam Perhitungan</a>

            <a href="/kentang/history" class="block text-gray-700 hover hover:text-green-700">Sejarah</a>

            <details class="group">
                <summary class="text-gray-700 hover hover:text-green-700 flex items-center justify-between cursor-pointer list-none">
                    Profile
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5 h-5 bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                      </svg>    
                </summary>
                <div class="pl-5 mt-2 space-y-3">
                    <a href="/settings" class="block text-gray-700 hover hover:text-green-700">Settings</a>
                    <a href="/logout" class="block text-gray-700 hover:font-bold hover:text-red-600">Logout</a>
                </div>
            </details>
        </div>

    </header>    

  <div class="mt-[110px]">
  <div class="container mx-auto">
    <h1 class="font-bold text-4xl m-6">Pendeteksian Penyakit Kentang</h1>
    <div class="flex flex-col m-6">
      <div class="flex flex-col lg:flex-row gap-5">
        <div class="card shadow-lg border border-gray-300 p-7 rounded-2xl flex-grow">

          <form method="POST" action="/kentang/detect" enctype="multipart/form-data"
            class="bg-white shadow-xl border border-gray-200 px-8 py-10 rounded-2xl w-full max-w-2xl mx-auto space-y-6">

            <h2 class="text-2xl font-bold text-gray-800 text-center mb-4"> Form Deteksi Penyakit Kentang</h2>

            <div>
              <label for="count-group-select" class="text-sm text-gray-600 font-medium block mb-1">Kelompok Counting</label>
              <select name="counting_group_id" id="count-group-select" required
                class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-green-500 focus:border-green-500 text-sm">
                <option value="">Pilih kelompok counting</option>
                {% for i in count_group %}
                <option value="{{ i[0] }}"> {{ i[1] }} 🗕️ {{ i[2][:10] }} </option>
                {% endfor %}
              </select>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <div>
                <label class="text-sm text-gray-600 font-medium block mb-1">Citra Asli (RGB)</label>
                <input type="file" name="rgb" accept=".tif,.png,.jpg" required
                  class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm text-sm bg-white focus:ring-2 focus:ring-green-500">
              </div>

              <div>
                <label class="text-sm text-gray-600 font-medium block mb-1">Band NIR</label>
                <input type="file" name="nir" accept=".tif,.png,.jpg" required
                  class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm text-sm bg-white focus:ring-2 focus:ring-green-500">
              </div>

              <div>
                <label class="text-sm text-gray-600 font-medium block mb-1">Band Red</label>
                <input type="file" name="red" accept=".tif,.png,.jpg" required
                  class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm text-sm bg-white focus:ring-2 focus:ring-green-500">
              </div>

              <div>
                <label class="text-sm text-gray-600 font-medium block mb-1">Band Red Edge</label>
                <input type="file" name="red_edge" accept=".tif,.png,.jpg" required
                  class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm text-sm bg-white focus:ring-2 focus:ring-green-500">
              </div>
            </div>

            <div class="pt-4">
              <button type="submit"
                class="w-full bg-green-600 hover:bg-green-700 text-white text-base font-semibold py-3 rounded-lg transition duration-300 shadow-md">
                Proses NDRE dan Klasifikasi
              </button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
  <div id="result-container" class="hidden container mx-auto my-8">
    <h2 class="text-2xl font-bold text-center text-green-700 mb-4">Hasil Deteksi NDRE & Klasifikasi</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <div class="text-center">
            <h3 class="font-semibold text-gray-600 mb-2">Citra Asli (RGB)</h3>
            <img id="img-original" class="rounded-lg shadow-md max-w-full" />
        </div>
        <div class="text-center">
            <h3 class="font-semibold text-gray-600 mb-2">Overlay Hasil Klasifikasi</h3>
            <img id="img-overlay-result" class="rounded-lg shadow-md max-w-full" />
        </div>
        <div class="text-center">
            <h3 class="font-semibold text-gray-600 mb-2">Overlay NDRE (sebelum klasifikasi)</h3>
            <img id="img-overlay-before" class="rounded-lg shadow-md max-w-full" />
        </div>
        <div class="text-center">
            <h3 class="font-semibold text-gray-600 mb-2">Overlay Akhir</h3>
            <img id="img-overlay-after" class="rounded-lg shadow-md max-w-full" />
        </div>
    </div>

    <div class="bg-gray-100 p-6 rounded-xl shadow">
        <h4 class="font-bold text-gray-700 mb-2">Metadata</h4>
        <p><b>Latitude:</b> <span id="meta-lat"></span></p>
        <p><b>Longitude:</b> <span id="meta-long"></span></p>
        <p><b>Tinggi Drone:</b> <span id="meta-alt"></span> meter</p>
        <p><b>Tanggal Pengambilan:</b> <span id="meta-datetime"></span></p>
        <p><b>Jumlah Zona:</b> <span id="meta-numzones"></span></p>
        <p><b>Confidence Rata-rata:</b> <span id="meta-conf"></span></p>
    </div>
</div>


    <div class="container mx-auto" id="if-you-forget">
            <div class="flex flex-col m-6 h-2vh">
                <div class="flex lg:flex-row flex-col gap-5">
                    <div class="card shadow-lg border border-gray-300 duration-150 p-3 rounded-lg flex-grow flex-1 duration-150">
                        <button class="text-sm text-gray-400" onclick="toggle_new_cg_fm()">
                            Lupa menambahkan kelompok perhitungan? <b>klik kartu ini</b>
                        </button>
                        <form class="flex w-full space-x-2 mt-3 hidden" id="new_counting_group_form">
                            <input
                                type="text"
                                name="counting-group-name"
                                placeholder="Nama kelompok perhitungan baru"
                                class="flex-grow border-2 border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 shadow-md"
                            />

                            <input
                                type="date"
                                name="date"
                                class="border-2 border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 shadow-md"
                            />

                            <button
                                type="submit"
                                class="bg-green-500 text-white px-4 py-1 rounded-lg hover:bg-green-700 shadow-md"
                            >
                                Submit
                            </button>
                        </form>
                    </div> 
                </div>
        </div>
    </div>

    <div class="container mx-auto hidden pb-[60px]" id="metadata_card">
        <div class="flex flex-col m-6">
            <div class="flex lg:flex-row flex-col gap-5">
                <div class="card shadow-lg border border-gray-300 duration-150 p-7 rounded-lg flex-grow flex-1">
                    <div class="flex flex-col">
                        <h2 class="text-2xl font-bold relative pb-5 flex flex-col w-full">
                            Metadata gambar
                        </h2>
                        <div class="flex flex-row justify-center gap-3">
                        <div class="class shadow-sm py-2 px-10 border text-center border-gray-200 rounded-lg">
                                <p>
                                    <b>Tinggi drone : </b>
                                </p>
                                <p id="metadata_height">n meter</p>
                            </div>
                            <div class="class shadow-sm py-2 px-10 border text-center border-gray-200 rounded-lg">
                                <p>
                                    <b>Tanggal pengambilan : </b> 
                                </p>
                                <p id="metadata_date">29/03/2004</p>
                            </div>
                        </div>
                        <div class="flex flex-row justify-center gap-3 mt-3">
                            <div class="class shadow-sm py-2 px-10 border text-center border-gray-200 rounded-lg">
                                    <p>
                                        <b>latitude : </b> 
                                    </p>
                                    <p id="metadata_lat">
                                        37.7749
                                    </p>
                                </div>
                            <div class="class shadow-sm py-2 px-10 border text-center border-gray-200 rounded-lg">
                                    <p>
                                        <b>longtitude : </b> 
                                    </p>
                                    <p id="metadata_long">
                                        -122.4194
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>    
            </div>
    </div>

    <div class="container mx-auto bottom-0 right-0 left-0 z-10 fixed w-full mt-3 mb-2">
        <div class="flex flex-row items-center justify-center rounded-lg border border-gray-300 rounded-lg shadow-lg py-3 mx-6 bg-white">
            <p><b>Developed by D3TI TA 2025 Group 06</b></p>
        </div>
    </div>
    <script>
    function toggle_new_cg_fm() {
        const form = document.getElementById("new_counting_group_form");
        form.classList.toggle("hidden");
    }

    document.getElementById("new_counting_group_form").addEventListener("submit", async function (e) {
        e.preventDefault();
        const form = e.target;
        const data = {
            counting_group_name: form['counting-group-name'].value,
            date: form['date'].value,
        };

        try {
            const response = await fetch('/kentang/action/add_counting_group', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (response.ok) {
                alert("Berhasil menambahkan kelompok perhitungan.");
                form.reset();
                location.reload();
            } else {
                const body = await response.json();
                const err = body.error;
                alert('Gagal menambahkan kelompok: ' + err);
            }
        } catch (err) {
            console.error('Request gagal', err);
            alert('Terjadi kesalahan saat mengirim data');
        }
    });
</script>
<script>
document.querySelector('form[action="/kentang/detect"]').addEventListener("submit", async function (e) {
    e.preventDefault();

    const form = e.target;
    const formData = new FormData(form);
    const submitBtn = form.querySelector('button[type="submit"]');
    submitBtn.disabled = true;
    submitBtn.textContent = "Memproses...";

    try {
        const response = await fetch(form.action, {
            method: "POST",
            body: formData
        });

        const data = await response.json();

        if (!response.ok) {
            alert("Gagal memproses gambar: " + (data.error || "Unknown Error"));
            submitBtn.disabled = false;
            submitBtn.textContent = "Proses NDRE dan Klasifikasi";
            return;
        }

        // Tampilkan gambar hasil
        document.getElementById("img-original").src = "data:image/png;base64," + data.images.original_rgb;
        document.getElementById("img-overlay-result").src = "data:image/png;base64," + data.images.overlay_result;
        document.getElementById("img-overlay-before").src = "data:image/png;base64," + data.images.overlay_before;
        document.getElementById("img-overlay-after").src = "data:image/png;base64," + data.images.overlay_after;

        // Tampilkan metadata
        const md = data.metadata;
        const gps = md.gps || {};
        const summary = md.summary || {};

        document.getElementById("meta-lat").textContent = gps.lat ?? "Tidak tersedia";
        document.getElementById("meta-long").textContent = gps.long ?? "Tidak tersedia";
        document.getElementById("meta-alt").textContent = gps.alt ?? "-";
        document.getElementById("meta-datetime").textContent = md.datetime ?? "-";
        document.getElementById("meta-numzones").textContent = summary.num_zones ?? "-";
        document.getElementById("meta-conf").textContent = (summary.mean_confidence ?? 0).toFixed(2);

        // Tampilkan hasil
        document.getElementById("result-container").classList.remove("hidden");

    } catch (err) {
        console.error(err);
        alert("Terjadi kesalahan saat mengirim permintaan.");
    } finally {
        submitBtn.disabled = false;
        submitBtn.textContent = "Proses NDRE dan Klasifikasi";
    }
});
</script>
    </body>
</html>