<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="flex items-center justify-center h-screen w-full">
        <div class="card rounded-lg shadow-xl min-h-24 min-w-24 border border-gray-300 p-7">
            <h1 class="text-2xl font-bold">Pilih layanan</h1>
            <div class="flex flex-row mt-5 gap-5">
                <a href="/kubis/count" class="
                    card rounded-lg shadow-xl min-h-24 min-w-24 border border-gray-300 p-5 flex flex-col items-center justify-center
                    hover:bg-lime-600 hover:text-white hover:font-bold duration-150
                ">
                    <h1 class="text-xl">Perhitungan Kubis</h1>
                </a>
                <a href="#" class="
                    card rounded-lg shadow-xl min-h-24 min-w-24 border border-gray-300 p-5 flex flex-col items-center justify-center
                    hover:bg-yellow-600 hover:text-white hover:font-bold duration-150
                    ">
                    <h1 class="text-xl text-center">Pendeteksian <br> penyakit kentang</h1>
                </a>
            </div>
        </div>
    </div>
</body>
</html>